/* Universal selector */

* {
    font-family: "Arial", "Courier New", "Garamond";
}


/* Type selector */
a {
    font-style: italic;
}

h2 {
    color: red;
}

/* Class selector */
.recipe-title {
    font-style: italic;
    background-color: rgb(95, 174, 4);
    color: white;
}


/* Id selector */
#main-title {
    background-color: black;
    color: white;
}


/* Combinator - descendant selector (space) */
/* Combinator - child selector (>) */
/* Combinator - adjacent sibling selector (+) */
/* Combinator - general sibiling selector (~) */